@external nav, nav-list, active, badge;

.blackNavList {
    padding-top: 20px;
}

.blackNavList .nav-list > li > a {
    color: #ffffff;
    text-shadow: none;
    padding: 7px 7px 7px 10px;
    border-bottom: 1px solid #0a0c0e;
    border-top: 1px solid #212121;
    position: relative;
}

.blackNavList .nav-list > li.active > a {
    background: #ffffff;
    color: #333;
}

.blackNavList .nav-list > li > a > span.badge {
    position: absolute;
    right: 8px;
    background: none;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
    text-align: right;
}

.blackNavList .nav-list > li.active > a:hover {
    background: #ffffff;
    color: #333;
}

.blackNavList .nav-list > li > a:hover {
    color: #fff;
    background: #111;
    border-top: 1px solid #111;
}

.whiteNavList {
    background-color: #ffffff;
}

.whiteNavList .nav-list > li > a {
    color: #545454;
    text-shadow: none;
    padding: 10px 7px 10px 10px;
    border-bottom: 1px solid #ddd;
}

.whiteNavList .nav-list > li.active > a {
    background-image: none;
    background-color: #ddd;
    color: #000;
    -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.whiteNavList .nav-list > li.active > a:hover {
    background-image: none;
    background-color: #ddd;
    color: #000;
    -webkit-box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 3px 1px rgba(0, 0, 0, 0.4);
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
}

.blueNavList {
}

.blueNavList .nav-list > li > a {
    color: #393939;
    text-shadow: none;
    padding: 0 16px 0 7px;
    position: relative;
    border-bottom: 3px solid transparent;
    transition: border 0.5s;
    height: 47px;
    line-height: 47px;
    float : left;
    min-width: 200px;
    text-align: center;
    font-size: 20px;
}

.blueNavList .nav-list > li.active > a {
    background: #ffffff;
    color: #1963aa;
}

.blueNavList .nav-list > li > a > span.badge {
    position: absolute;
    right: 8px;
    background: none;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
    text-align: right;
    line-height: 36px;
}

.blueNavList .nav-list > li.active > a:hover {
    background-color: #FFF;
    color: #1963aa;
    border-bottom: 3px solid #1963aa;
}

.blueNavList .nav-list > li > a:hover {
    background-color: #FFF;
    color: #1963aa;
    border-bottom: 3px solid #1963aa;
}


.orangeNavList {
}

.orangeNavList .nav-list > li > a {
    color: #393939;
    text-shadow: none;
    padding: 0 16px 0 7px;
    position: relative;
    border-top: 1px solid #fcfcfc;
    border-bottom: 1px solid #e5e5e5;
    border-left: 3px solid transparent;
    transition: border 0.5s;
    height: 38px;
    line-height: 36px;
}

.orangeNavList .nav-list > li.active > a {
    background: #ffffff;
    color: rgb(255, 117, 55);
}

.orangeNavList .nav-list > li > a > span.badge {
    position: absolute;
    right: 8px;
    background: none;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    text-shadow: none;
    text-align: right;
    line-height: 36px;
}

.orangeNavList .nav-list > li.active > a:hover {
    background-color: #FFF;
    color: rgb(255, 117, 55);
    border-left: 4px solid rgb(255, 117, 55);
}

.orangeNavList .nav-list > li > a:hover {
    background-color: #FFF;
    color: rgb(255, 117, 55);
    border-left: 4px solid rgb(255, 117, 55);
}